User requirements
*****************
-> connect with BT to get data/log
-> stable disperse of insulin
-> status on display

System requirements: functional, non-functional, domain
*******************
-> Protocol, Interfaces, certified & approved HW
-> I/O interface

=> Functional requirements
**************************
-> battery low-alarm
-> measured data
-> insulin capacity/status
-> log data

=> Non-Functional requirements
******************************
-> long-living HW (replacement parts)
-> waterproof
-> wearable/ergonomic
-> I/O BT
-> screen/display

=> domain
*********
-> Doctor-patient-confidentiality (Arztgeheimnis)
-> data security